<script setup lang="ts">
import { ref } from "vue";
import Profile from "@/components/ProFileView.vue";
const frameList = ref([
  { name: "VueJS", img: "https://img.icons8.com/color/512/vue-js.png" },
]);
</script>

<template>
  <div>
    <v-container>
      <v-row justify="center">
        <v-col v-for="(item, index) of frameList" :key="index">
          <Profile
            name=""
            img=""
            :colors="[
              'white',
              'white',
              'white',
              'white',
            ]"
            :slides="['Profile', 'Name', 'Educational', 'My Interests']"
            :data="[
              {
                schoolname: 'Lambertpitchayalai SCHOOL',
                year: 'Kindergarten-pimary education',
              },
              {
                schoolname: 'KLAENGWITTAYASATHAWORN SCHOOL',
                year: 'secondary education',
              },
             
              {
                schoolname: 'Burapha University',
                year: 'Now',
              },
            ]"
          ></Profile>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

