<script setup lang="ts">
const props = defineProps<{
  name: string;
  img: String;
  colors: ["white", "white", "white", "white"];
  slides: ["Profile", "Name", "Educational", "My Interests"];
  data: [
    {
      schoolname: "Lambertpitchayalai SCHOOL";
      year: "Kindergarten-pimary education";
    },
    {
      schoolname: "KLAENGWITTAYASATHAWORN SCHOOL";
      year: "secondary education";
    },
    
    {
      schoolname: "Burapha University";
      year: "Now";
    }
  ];
}>();
</script>

<template>
  <v-carousel height="700" show-arrows hide-delimiter-background>
    <template v-slot:prev="{ props }">
      <v-btn variant="elevated" color="success" @click="props.onClick"
        >Back</v-btn
      >
    </template>
    <template v-slot:next="{ props }">
      <v-btn variant="elevated" color="info" @click="props.onClick"
        >Next</v-btn
      >
    </template>
    <v-carousel-item v-for="(slide, i) in slides" :key="i">
      <v-sheet :color="colors[i]" height="100%">
        <div class="justify-center align-center">
          <div class="text-h4">
            {{ slide }}
            <div v-if="i === 0">
              <v-card class="mx-auto" max-width="1200" rounded="0">
                <v-img
                  height="100%"
                  cover
                  src="https://th.bing.com/th/id/R.47c7e2d7e9c48a09ccd2f5613b66ad44?rik=yY1RP%2b9Xgl9tZQ&pid=ImgRaw&r=0"
                >
                  <v-avatar size="600" rounded="0" >
                    <v-img
                      cover
                      src="https://media.discordapp.net/attachments/711600284081848333/1043910516520800356/IMG_3764.jpg?width=497&height=662"
                    ></v-img>
                  </v-avatar>
                  <v-list-item
                    class="text-white"
                    title="Kulisara Thongngamkhum"
                    subtitle="64160233"
                  ></v-list-item>
                </v-img>
              </v-card>
            </div>
            <div v-else-if="i === 1">
              <v-card
                class="mx-auto"
                color="#b1b5e3"
                theme="dark"
                max-width="1000"
                title="About Me "
              >
                <v-card-text class="text-h5 py-2">
                  Name :Kulisara Thongngamkhum  <br>
                  Faculty of Computer Science<br>
                </v-card-text>

                <v-card-actions>
                  <v-list-item class="w-100">
                    <template v-slot:prepend>
                      <v-avatar
                        color="grey-darken-3"
                        image="https://media.discordapp.net/attachments/711600284081848333/1043910516520800356/IMG_3764.jpg?width=497&height=662"
                      ></v-avatar>
                    </template>

                    <v-list-item-title>Kulisara Thongngamkhum</v-list-item-title>

                    <v-list-item-subtitle>64160233</v-list-item-subtitle>
                  </v-list-item>
                </v-card-actions>
              </v-card>
            </div>
            <div v-else-if="i === 2">
              <v-table>
                <thead>
                  <tr>
                    <th class="text-left">Name School</th>
                    <th class="text-left">education</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in data" :key="item.schoolname">
                    <td>{{ item.schoolname }}</td>
                    <td>{{ item.year }}</td>
                  </tr>
                </tbody>
              </v-table>
            </div>
            <div v-else-if="i === 3">
              <v-card max-width="400" class="mx-auto">
                <v-container>
                  <v-row dense>
                    <v-col cols="12">
                      <v-card color="#e46798" theme="dark">
                        <div class="d-flex flex-no-wrap justify-space-between">
                          <div>
                            <v-card-title class="text-h5">
                                Watch anime
                            </v-card-title>

                            <v-card-subtitle>Like : chainsaw man , Naruto </v-card-subtitle>

                            <v-card-actions>
                              <v-btn
                                class="ml-2"
                                icon="mdi-play"
                                variant="text"
                              ></v-btn>
                            </v-card-actions>
                          </div>

                          
                        </div>
                      </v-card>
                    </v-col>

                    <v-col cols="12">
                      <v-card color="#ec93b6" theme="dark">
                        <div class="d-flex flex-no-wrap justify-space-between">
                          <div>
                            <v-card-title class="text-h5">
                                Read manga
                            </v-card-title>

                            <v-card-subtitle>Like : Nanomachin</v-card-subtitle>

                            <v-card-actions>
                              <v-btn
                                class="ml-2"
                                icon="mdi-play"
                                variant="text"
                              ></v-btn>
                            </v-card-actions>
                          </div>

                          
                        </div>
                      </v-card>
                    </v-col>

                    <v-col cols="12">
                      <v-card color="#e56798" theme="dark">
                        <div class="d-flex flex-no-wrap justify-space-between">
                          <div>
                            <v-card-title class="text-h5">
                                Watch Movie 
                            </v-card-title>

                            <v-card-subtitle>Like : Action</v-card-subtitle>

                            <v-card-actions>
                              <v-btn
                                class="ml-2"
                                icon="mdi-play"
                                variant="text"
                              ></v-btn>
                            </v-card-actions>
                          </div>

                          
                        </div>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </div>
          </div>
        </div>
      </v-sheet>
    </v-carousel-item>
  </v-carousel>
</template>
