<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>

      <v-btn
        :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight"
        @click="onClick"
      >Toggle Theme</v-btn>
    </v-app-bar>
    <v-navigation-drawer expand-on-hover rail>
      <v-list>
        <v-list-item
          prepend-avatar="https://cdn.discordapp.com/attachments/711600284081848333/1043910516520800356/IMG_3764.jpg"
          title="Kulisara Thongngamkhum"
          subtitle="64160233@go.buu.ac.th"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

<v-list density="compact" nav>
  <v-list-item
    :prepend-icon="mdiFolder"
    title="My Files"
    value="myfiles"
    to="/my-files-view"
  ></v-list-item>
  <v-list-item
    :prepend-icon="mdiAccountMultiple"
    title="My Profile"
    value="my profile"
    to="/my-profile"
  ></v-list-item>
  <v-list-item
    :prepend-icon="mdiStar"
    title="Starred"
    value="starred"
    to="/starred"
  ></v-list-item>
</v-list>
</v-navigation-drawer>
<v-main>
<router-view></router-view>
</v-main>
</v-app>
</template>



<script setup>
  import { ref } from 'vue';
  import{mdiWeatherSunny,mdiWeatherNight,mdiCursorPointer,mdiVuetify,mdiCheckboxMarkedCircle,mdiFolder,mdiAccountMultiple,mdiStar
}from "@mdi/js";

  const theme = ref('light')

  function onClick () {
    theme.value = theme.value === 'light' ? 'dark' : 'light'
  }
</script>



